<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.project.dynamic.mapper.SysFlowFormcontentMapper">

    <resultMap id="BaseResultMap" type="com.jeethink.project.dynamic.domain.SysFlowFormcontent">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="formid" column="formid" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="attra" column="attra" jdbcType="VARCHAR"/>
        <result property="attrb" column="attrb" jdbcType="VARCHAR"/>
        <result property="attrc" column="attrc" jdbcType="VARCHAR"/>
        <result property="attrd" column="attrd" jdbcType="VARCHAR"/>
        <result property="attre" column="attre" jdbcType="VARCHAR"/>
        <result property="attrf" column="attrf" jdbcType="VARCHAR"/>
        <result property="attrg" column="attrg" jdbcType="VARCHAR"/>
        <result property="attrh" column="attrh" jdbcType="VARCHAR"/>
        <result property="attri" column="attri" jdbcType="VARCHAR"/>
        <result property="attrj" column="attrj" jdbcType="VARCHAR"/>
        <result property="attrk" column="attrk" jdbcType="VARCHAR"/>
        <result property="attrl" column="attrl" jdbcType="VARCHAR"/>
        <result property="attrm" column="attrm" jdbcType="VARCHAR"/>
        <result property="attrn" column="attrn" jdbcType="VARCHAR"/>
        <result property="attro" column="attro" jdbcType="VARCHAR"/>
        <result property="attrp" column="attrp" jdbcType="VARCHAR"/>
        <result property="attrq" column="attrq" jdbcType="VARCHAR"/>
        <result property="attrr" column="attrr" jdbcType="VARCHAR"/>
        <result property="attrs" column="attrs" jdbcType="VARCHAR"/>
        <result property="attrt" column="attrt" jdbcType="VARCHAR"/>
        <result property="attru" column="attru" jdbcType="VARCHAR"/>
        <result property="attrv" column="attrv" jdbcType="VARCHAR"/>
        <result property="attrw" column="attrw" jdbcType="VARCHAR"/>
        <result property="attrx" column="attrx" jdbcType="VARCHAR"/>
        <result property="attry" column="attry" jdbcType="VARCHAR"/>
        <result property="attrz" column="attrz" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="formlist" column="formlist" jdbcType="VARCHAR"/>
        <result property="formlevel" column="formlevel" jdbcType="VARCHAR"/>
        <result property="isdelete" column="isdelete" jdbcType="INTEGER"/>
        <result property="timeout" column="timeout" jdbcType="TIMESTAMP"/>
        <result property="userid" column="userid" jdbcType="VARCHAR"/>
        <result property="projectid" column="projectid" jdbcType="VARCHAR"/>
        <result property="custommember" column="custommember" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,formid,create_by,
        create_time,update_by,update_time,
        remark,attra,attrb,
        attrc,attrd,attre,
        attrf,attrg,attrh,
        attri,attrj,attrk,
        attrl,attrm,attrn,
        attro,attrp,attrq,
        attrr,attrs,attrt,
        attru,attrv,attrw,
        attrx,attry,attrz,
        name,formlist,formlevel,isdelete,
        timeout,userid,projectid,
        custommember
    </sql>

    <insert id="insert" parameterType="SysFlowFormcontent">
        insert into sys_flow_formcontent(
        <if test="id !=null and id !=0">id,</if>
        <if test="formid !=null and formid !=''">formid,</if>
        <if test="createBy !=null and createBy !=''">create_by,</if>
        <if test="updateBy !=null and updateBy !=''">update_by,</if>
        <if test="remark !=null and remark !=''">remark,</if>
        <if test="name !=null and name !=''">name,</if>
        <if test="formlist !=null and formlist !=''">formlist,</if>
        <if test="formlevel !=null and formlevel !=''">formlevel,</if>
        <if test="isdelete !=null and isdelete !=''">isdelete,</if>
        <if test="userid !=null and userid !=''">userid,</if>
        <if test="projectid !=null and projectid !=''">projectid,</if>
        <if test="custommember !=null and custommember !=''">custommember,</if>
        attra,attrb,
        attrc,attrd,attre,
        attrf,attrg,attrh,
        attri,attrj,attrk,
        attrl,attrm,attrn,
        attro,attrp,attrq,
        attrr,attrs,attrt,
        attru,attrv,attrw,
        attrx,attry,attrz,
        update_time,
        timeout,
        create_time
        )values(
        <if test="id !=null and id !=0">#{id},</if>
        <if test="formid !=null and formid !=''">#{formid},</if>
        <if test="createBy !=null and createBy !=''">#{createBy},</if>
        <if test="updateBy !=null and updateBy !=''">#{updateBy},</if>
        <if test="remark !=null and remark !=''">#{remark},</if>
        <if test="name !=null and name !=''">#{name},</if>
        <if test="formlist !=null and formlist !=''">#{formlist},</if>
        <if test="formlevel !=null and formlevel !=''">#{formlevel},</if>
        <if test="isdelete !=null and isdelete !=''">#{isdelete},</if>
        <if test="userid !=null and userid !=''">#{userid},</if>
        <if test="projectid !=null and projectid !=''">#{projectid},</if>
        <if test="custommember !=null and custommember !=''">#{custommember},</if>
        #{attra},
        #{attrb},
        #{attrc},
        #{attrd},
        #{attre},
        #{attrf},
        #{attrg},
        #{attrh},
        #{attri},
        #{attrj},
        #{attrk},
        #{attrl},
        #{attrm},
        #{attrn},
        #{attro},
        #{attrp},
        #{attrq},
        #{attrr},
        #{attrs},
        #{attrt},
        #{attru},
        #{attrv},
        #{attrw},
        #{attrx},
        #{attry},
        #{attrz},
        #{updateTime},
        #{timeout},
        #{createTime}
        )
    </insert>
    <update id="update">
        update sys_flow_formcontent
        <set>
            <if test="formid !=null and formid !=''">formid=#{formid},</if>
            <if test="createBy !=null and createBy !=''">create_by=#{createBy},</if>
            <if test="updateBy !=null and updateBy !=''">update_by=#{updateBy},</if>
            <if test="remark !=null and remark !=''">remark=#{remark},</if>
            <if test="name !=null and name !=''">name=#{name},</if>
            <if test="formlist !=null and formlist !=''">formlist=#{formlist},</if>
            <if test="formlevel !=null and formlevel !=''">formlevel=#{formlevel},</if>
            <if test="isdelete !=null and isdelete !=''">isdelete=#{isdelete},</if>
            <if test="userid !=null and userid !=''">userid=#{userid},</if>
            <if test="projectid !=null and projectid !=''">projectid=#{projectid},</if>
            <if test="custommember !=null and custommember !=''">custommember=#{custommember},</if>
            attra=#{attra},attrb=#{attrb},attrc=#{attrc},
            attrd=#{attrd},attre=#{attre},attrf=#{attrf},
            attrg=#{attrg},attrh=#{attrh},attri=#{attri},
            attrj=#{attrj},attrk=#{attrk},attrl=#{attrl},
            attrm=#{attrm},attrn=#{attrn},attro=#{attro},
            attrp=#{attrp},attrq=#{attrq},attrr=#{attrr},
            attrs=#{attrs},attrt=#{attrt},attru=#{attru},
            attrv=#{attrv},attrw=#{attrw},attrx=#{attrx},
            attry=#{attry},attrz=#{attrz},
            update_time=#{updateTime},
            timeout=#{timeout},
            create_time=#{createTime}
        </set>
        where id=#{id}
    </update>


    <delete id="deleteById">
        delete
        from sys_flow_formcontent
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="queryById" resultType="com.jeethink.project.dynamic.domain.SysFlowFormcontent"></select>
    <select id="queryAllByLimit" resultType="com.jeethink.project.dynamic.domain.SysFlowFormcontent"></select>


    <select id="queryAll" parameterType="SysFlowFormcontent" resultMap="BaseResultMap">
        select id,
        formid,
        create_by,
        create_time,
        update_by,
        update_time,
        remark,
        attra,
        attrb,
        attrc,
        attrd,
        attre,
        attrf,
        attrg,
        attrh,
        attri,
        attrj,
        attrk,
        attrl,
        attrm,
        attrn,
        attro,
        attrp,
        attrq,
        attrr,
        attrs,
        attrt,
        attru,
        attrv,
        attrw,
        attrx,
        attry,
        attrz,
        name,
        formlist,
        formlevel,
        isdelete,
        timeout,
        userid,
        projectid,
        custommember
        from sys_flow_formcontent
        <where>
            AND create_by = #{createBy}
            <if test="formid != null and formid != 0">
                AND formid = #{formid}
            </if>
            <if test="id != null and id != 0">
                AND id = #{id}
            </if>
        </where>
    </select>

</mapper>
