<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.project.dynamic.mapper.SysFlowFormattrMapper">

    <resultMap id="SysFlowFormattrResult" type="SysFlowFormattr">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="create_time" column="create_time"/>
        <result property="typeid" column="typeid"/>
        <result property="types" column="types"/>
        <result property="checkrule" column="checkrule"/>
        <result property="alias" column="alias"/>
        <result property="length" column="length"/>
        <result property="checkjs" column="checkjs"/>
        <result property="optionlist" column="optionlist"/>
    </resultMap>


    <sql id="selectformattrVo">
        select t.id,
               t.name,
               t.remark,
               t.create_time,
               t.typeid,
               t.types,
               t.checkrule,
               t.alias,
               t.length,
               t.checkjs,
               t.optionlist
        from sys_flow_formattr t
    </sql>

    <!--    <select id="queryAll" parameterType="SysFlowFormattr" resultMap="SysFlowFormattrResult">-->
    <!--        <include refid="selectformattrVo"/>-->
    <!--        <where>-->
    <!--            <if test="id != null and id != 0">-->
    <!--                AND id = #{id}-->
    <!--            </if>-->
    <!--            <if test="name != null and name != ''">-->
    <!--                AND name like concat('%', #{name}, '%')-->
    <!--            </if>-->
    <!--        </where>-->
    <!--    </select>-->
    <select id="queryAll" parameterType="SysFlowFormattr" resultMap="SysFlowFormattrResult">
        select t.id, t.name, t.remark, t.create_time, t.typeid, t.types, t.checkrule, t.alias, t.length, t.checkjs,
        t.optionlist,f.name as typ
        from sys_flow_formattr t,sys_flow_type f
        <where>
            AND t.typeid=f.id
            <if test="id != null and id != 0">
                AND t.id = #{id}
            </if>
            <if test="name != null and name != ''">
                AND t.name like concat('%', #{name}, '%')
            </if>
            <if test="typeid != null and typeid != 0">
                AND t.typeid = #{typeid}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="SysFlowFormattr">
        insert into sys_flow_formattr(
        <if test="id !=null and id !=''">id,</if>
        <if test="name !=null and name !=''">name,</if>
        <if test="remark !=null and remark !=''">remark,</if>
        <if test="optionlist !=null and optionlist !=''">optionlist,</if>
        <if test="typeid !=null and typeid !=''">typeid,</if>
        <if test="types !=null and types !=''">types,</if>
        <if test="checkrule !=null and checkrule !=''">checkrule,</if>
        <if test="alias !=null and alias !=''">alias,</if>
        <if test="length !=null and length !=''">length,</if>
        <if test="checkjs !=null and checkjs !=''">checkjs,</if>
        create_time
        )values(
        <if test="id !=null and id !=''">#{id},</if>
        <if test="name !=null and name !=''">#{name},</if>
        <if test="remark !=null and remark !=''">#{remark},</if>
        <if test="optionlist !=null and optionlist !=''">#{optionlist},</if>
        <if test="typeid !=null and typeid !=''">#{typeid},</if>
        <if test="types !=null and types !=''">#{types},</if>
        <if test="checkrule !=null and checkrule !=''">#{checkrule},</if>
        <if test="alias !=null and alias !=''">#{alias},</if>
        <if test="length !=null and length !=''">#{length},</if>
        <if test="checkjs !=null and checkjs !=''">#{checkjs},</if>
        #{create_time}
        )
    </insert>
    <update id="update" parameterType="String">
        update sys_flow_formattr
        <set>
            <if test="id !=null and id !=0">id=#{id},</if>
            <if test="name !=null and name !=''">name=#{name},</if>
            <if test="remark !=null and remark !=''">remark=#{remark},</if>
            <if test="optionlist !=null and optionlist !=''">optionlist=#{optionlist},</if>
            <if test="typeid !=null and typeid !=''">typeid=#{typeid},</if>
            <if test="checkrule !=null and checkrule !=''">checkrule=#{checkrule},</if>
            <if test="alias !=null and alias !=''">alias=#{alias},</if>
            <if test="length !=null and length !=''">length=#{length},</if>
            <if test="checkjs !=null and checkjs !=''">checkjs=#{checkjs},</if>
            <if test="types !=null and types !=''">types=#{types},</if>
            create_time= #{create_time}
        </set>
        where id=#{id}
    </update>
    <delete id="deleteById" parameterType="String">
        delete
        from sys_flow_formattr
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryById" resultType="com.jeethink.project.dynamic.domain.SysFlowFormattr"></select>
    <select id="queryAllByLimit" resultType="com.jeethink.project.dynamic.domain.SysFlowFormattr"></select>
</mapper>